In [1]:
import os
from dotenv import load_dotenv
from fastapi import FastAPI, HTTPException
from pydantic import BaseModel
from langchain_community.utilities.sql_database import SQLDatabase
from langchain.chains import create_sql_query_chain
from langchain_core.prompts import ChatPromptTemplate, FewShotChatMessagePromptTemplate
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool
from langchain_groq import ChatGroq

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
load_dotenv()

True

In [4]:
import os
from langchain_community.utilities import SQLDatabase
from langchain_community.tools.sql_database.tool import QuerySQLDatabaseTool
from typing_extensions import TypedDict, Annotated

In [5]:
db_uri = os.getenv("DB_URI")

In [ ]:
from langchain_community.utilities.sql_database import SQLDatabase

# Connect to the MySQL database
db = SQLDatabase.from_uri(db_uri)

In [41]:
# Print the database dialect and usable table names
print(db.dialect)

mysql

In [8]:
from langchain import hub
from typing_extensions import TypedDict, Annotated
from concurrent.futures import ThreadPoolExecutor, TimeoutError as ThreadTimeout
import re

In [9]:
print(db.get_table_info())

CREATE TABLE actor (
	actor_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from actor table:
actor_id	first_name	last_name	last_update
1	PENELOPE	GUINESS	2006-02-15 04:34:33
2	NICK	WAHLBERG	2006-02-15 04:34:33
3	ED	CHASE	2006-02-15 04:34:33
*/


CREATE TABLE address (
	address_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	address VARCHAR(50) NOT NULL,
	address2 VARCHAR(50),
	district VARCHAR(20) NOT NULL,
	city_id SMALLINT UNSIGNED NOT NULL,
	postal_code VARCHAR(10),
	phone VARCHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (address_id),
	CONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from address table:
address_id	address	address2	district	city_id	postal_code	phone	last_update
1	47 MySakila Drive	None	Alberta	300			2014-09-25 22:30:27
2	28 MySQL Boulevard	None	QLD	576			2014-09-25 22:30:09
3	23 Workhaven Lane	None	Alberta	300		14033335568	2014-09-25 22:30:27
*/


CREATE TABLE category (
	category_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name VARCHAR(25) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (category_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from category table:
category_id	name	last_update
1	Action	2006-02-15 04:46:27
2	Animation	2006-02-15 04:46:27
3	Children	2006-02-15 04:46:27
*/


CREATE TABLE city (
	city_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	city VARCHAR(50) NOT NULL,
	country_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (city_id),
	CONSTRAINT fk_city_country FOREIGN KEY(country_id) REFERENCES country (country_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from city table:
city_id	city	country_id	last_update
1	A Coru침a (La Coru침a)	87	2006-02-15 04:45:25
2	Abha	82	2006-02-15 04:45:25
3	Abu Dhabi	101	2006-02-15 04:45:25
*/


CREATE TABLE country (
	country_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	country VARCHAR(50) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (country_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from country table:
country_id	country	last_update
1	Afghanistan	2006-02-15 04:44:00
2	Algeria	2006-02-15 04:44:00
3	American Samoa	2006-02-15 04:44:00
*/


CREATE TABLE customer (
	customer_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	store_id TINYINT UNSIGNED NOT NULL,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	email VARCHAR(50),
	address_id SMALLINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	create_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (customer_id),
	CONSTRAINT fk_customer_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_customer_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from customer table:
customer_id	store_id	first_name	last_name	email	address_id	active	create_date	last_update
1	1	MARY	SMITH	MARY.SMITH@sakilacustomer.org	5	1	2006-02-14 22:04:36	2006-02-15 04:57:20
2	1	PATRICIA	JOHNSON	PATRICIA.JOHNSON@sakilacustomer.org	6	1	2006-02-14 22:04:36	2006-02-15 04:57:20
3	1	LINDA	WILLIAMS	LINDA.WILLIAMS@sakilacustomer.org	7	1	2006-02-14 22:04:36	2006-02-15 04:57:20
*/


CREATE TABLE film (
	film_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	title VARCHAR(128) NOT NULL,
	description TEXT,
	release_year YEAR,
	language_id TINYINT UNSIGNED NOT NULL,
	original_language_id TINYINT UNSIGNED,
	rental_duration TINYINT UNSIGNED NOT NULL DEFAULT '3',
	rental_rate DECIMAL(4, 2) NOT NULL DEFAULT '4.99',
	length SMALLINT UNSIGNED,
	replacement_cost DECIMAL(5, 2) NOT NULL DEFAULT '19.99',
	rating ENUM('G','PG','PG-13','R','NC-17') DEFAULT 'G',
	special_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes'),
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id),
	CONSTRAINT fk_film_language FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_language_original FOREIGN KEY(original_language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from film table:
film_id	title	description	release_year	language_id	original_language_id	rental_duration	rental_rate	length	replacement_cost	rating	special_features	last_update
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies	2006	1	None	6	0.99	86	20.99	PG	{'Behind the Scenes', 'Deleted Scenes'}	2006-02-15 05:03:42
2	ACE GOLDFINGER	A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China	2006	1	None	3	4.99	48	12.99	G	{'Trailers', 'Deleted Scenes'}	2006-02-15 05:03:42
3	ADAPTATION HOLES	A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory	2006	1	None	7	2.99	50	18.99	NC-17	{'Trailers', 'Deleted Scenes'}	2006-02-15 05:03:42
*/


CREATE TABLE film_actor (
	actor_id SMALLINT UNSIGNED NOT NULL,
	film_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (actor_id, film_id),
	CONSTRAINT fk_film_actor_actor FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_actor_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from film_actor table:
actor_id	film_id	last_update
1	1	2006-02-15 05:05:03
1	23	2006-02-15 05:05:03
1	25	2006-02-15 05:05:03
*/


CREATE TABLE film_category (
	film_id SMALLINT UNSIGNED NOT NULL,
	category_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (film_id, category_id),
	CONSTRAINT fk_film_category_category FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_film_category_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from film_category table:
film_id	category_id	last_update
1	6	2006-02-15 05:07:09
2	11	2006-02-15 05:07:09
3	6	2006-02-15 05:07:09
*/


CREATE TABLE film_text (
	film_id SMALLINT UNSIGNED NOT NULL,
	title VARCHAR(255) NOT NULL,
	description TEXT,
	PRIMARY KEY (film_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from film_text table:
film_id	title	description
1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies
2	ACE GOLDFINGER	A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China
3	ADAPTATION HOLES	A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory
*/


CREATE TABLE inventory (
	inventory_id MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
	film_id SMALLINT UNSIGNED NOT NULL,
	store_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (inventory_id),
	CONSTRAINT fk_inventory_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_inventory_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from inventory table:
inventory_id	film_id	store_id	last_update
1	1	1	2006-02-15 05:09:17
2	1	1	2006-02-15 05:09:17
3	1	1	2006-02-15 05:09:17
*/


CREATE TABLE language (
	language_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	name CHAR(20) NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (language_id)
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from language table:
language_id	name	last_update
1	English	2006-02-15 05:02:19
2	Italian	2006-02-15 05:02:19
3	Japanese	2006-02-15 05:02:19
*/


CREATE TABLE payment (
	payment_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT,
	customer_id SMALLINT UNSIGNED NOT NULL,
	staff_id TINYINT UNSIGNED NOT NULL,
	rental_id INTEGER,
	amount DECIMAL(5, 2) NOT NULL,
	payment_date DATETIME NOT NULL,
	last_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (payment_id),
	CONSTRAINT fk_payment_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_payment_rental FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE,
	CONSTRAINT fk_payment_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from payment table:
payment_id	customer_id	staff_id	rental_id	amount	payment_date	last_update
1	1	1	76	2.99	2005-05-25 11:30:37	2006-02-15 22:12:30
2	1	1	573	0.99	2005-05-28 10:35:23	2006-02-15 22:12:30
3	1	1	1185	5.99	2005-06-15 00:54:12	2006-02-15 22:12:30
*/


CREATE TABLE rental (
	rental_id INTEGER NOT NULL AUTO_INCREMENT,
	rental_date DATETIME NOT NULL,
	inventory_id MEDIUMINT UNSIGNED NOT NULL,
	customer_id SMALLINT UNSIGNED NOT NULL,
	return_date DATETIME,
	staff_id TINYINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (rental_id),
	CONSTRAINT fk_rental_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_inventory FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_rental_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from rental table:
rental_id	rental_date	inventory_id	customer_id	return_date	staff_id	last_update
1	2005-05-24 22:53:30	367	130	2005-05-26 22:04:30	1	2006-02-15 21:30:53
2	2005-05-24 22:54:33	1525	459	2005-05-28 19:40:33	1	2006-02-15 21:30:53
3	2005-05-24 23:03:39	1711	408	2005-06-01 22:12:39	1	2006-02-15 21:30:53
*/


CREATE TABLE staff (
	staff_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	first_name VARCHAR(45) NOT NULL,
	last_name VARCHAR(45) NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	picture BLOB,
	email VARCHAR(50),
	store_id TINYINT UNSIGNED NOT NULL,
	active TINYINT(1) NOT NULL DEFAULT '1',
	username VARCHAR(16) NOT NULL,
	password VARCHAR(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (staff_id),
	CONSTRAINT fk_staff_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_staff_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from staff table:
staff_id	first_name	last_name	address_id	picture	email	store_id	active	username	password	last_update
1	Mike	Hillyer	3	b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\x00y\x00\x00\x00u\x08\x02\x00\x00\x00\xe5Z\xd9e\x00\x0	Mike.Hillyer@sakilastaff.com	1	1	Mike	8cb2237d0679ca88db6464eac60da96345513964	2006-02-15 03:57:16
2	Jon	Stephens	4	None	Jon.Stephens@sakilastaff.com	2	1	Jon	None	2006-02-15 03:57:16
*/


CREATE TABLE store (
	store_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT,
	manager_staff_id TINYINT UNSIGNED NOT NULL,
	address_id SMALLINT UNSIGNED NOT NULL,
	last_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
	PRIMARY KEY (store_id),
	CONSTRAINT fk_store_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE,
	CONSTRAINT fk_store_staff FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE
)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4

/*
3 rows from store table:
store_id	manager_staff_id	address_id	last_update
1	1	1	2006-02-15 04:57:12
2	2	2	2006-02-15 04:57:12
*/

In [10]:
table_name = db.get_usable_table_names()

In [11]:
table_name

['actor',
 'address',
 'category',
 'city',
 'country',
 'customer',
 'film',
 'film_actor',
 'film_category',
 'film_text',
 'inventory',
 'language',
 'payment',
 'rental',
 'staff',
 'store']

In [12]:
table_info = db.get_table_info(table_name)

In [13]:
table_info

"\nCREATE TABLE actor (\n\tactor_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tfirst_name VARCHAR(45) NOT NULL, \n\tlast_name VARCHAR(45) NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (actor_id)\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from actor table:\nactor_id\tfirst_name\tlast_name\tlast_update\n1\tPENELOPE\tGUINESS\t2006-02-15 04:34:33\n2\tNICK\tWAHLBERG\t2006-02-15 04:34:33\n3\tED\tCHASE\t2006-02-15 04:34:33\n*/\n\n\nCREATE TABLE address (\n\taddress_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\taddress VARCHAR(50) NOT NULL, \n\taddress2 VARCHAR(50), \n\tdistrict VARCHAR(20) NOT NULL, \n\tcity_id SMALLINT UNSIGNED NOT NULL, \n\tpostal_code VARCHAR(10), \n\tphone VARCHAR(20) NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (address_id), \n\tCONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from address table:\naddress_id\taddress\taddress2\tdistrict\tcity_id\tpostal_code\tphone\tlast_update\n1\t47 MySakila Drive\tNone\tAlberta\t300\t\t\t2014-09-25 22:30:27\n2\t28 MySQL Boulevard\tNone\tQLD\t576\t\t\t2014-09-25 22:30:09\n3\t23 Workhaven Lane\tNone\tAlberta\t300\t\t14033335568\t2014-09-25 22:30:27\n*/\n\n\nCREATE TABLE category (\n\tcategory_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tname VARCHAR(25) NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (category_id)\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from category table:\ncategory_id\tname\tlast_update\n1\tAction\t2006-02-15 04:46:27\n2\tAnimation\t2006-02-15 04:46:27\n3\tChildren\t2006-02-15 04:46:27\n*/\n\n\nCREATE TABLE city (\n\tcity_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tcity VARCHAR(50) NOT NULL, \n\tcountry_id SMALLINT UNSIGNED NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (city_id), \n\tCONSTRAINT fk_city_country FOREIGN KEY(country_id) REFERENCES country (country_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from city table:\ncity_id\tcity\tcountry_id\tlast_update\n1\tA Coru침a (La Coru침a)\t87\t2006-02-15 04:45:25\n2\tAbha\t82\t2006-02-15 04:45:25\n3\tAbu Dhabi\t101\t2006-02-15 04:45:25\n*/\n\n\nCREATE TABLE country (\n\tcountry_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tcountry VARCHAR(50) NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (country_id)\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from country table:\ncountry_id\tcountry\tlast_update\n1\tAfghanistan\t2006-02-15 04:44:00\n2\tAlgeria\t2006-02-15 04:44:00\n3\tAmerican Samoa\t2006-02-15 04:44:00\n*/\n\n\nCREATE TABLE customer (\n\tcustomer_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tstore_id TINYINT UNSIGNED NOT NULL, \n\tfirst_name VARCHAR(45) NOT NULL, \n\tlast_name VARCHAR(45) NOT NULL, \n\temail VARCHAR(50), \n\taddress_id SMALLINT UNSIGNED NOT NULL, \n\tactive TINYINT(1) NOT NULL DEFAULT '1', \n\tcreate_date DATETIME NOT NULL, \n\tlast_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (customer_id), \n\tCONSTRAINT fk_customer_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_customer_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from customer table:\ncustomer_id\tstore_id\tfirst_name\tlast_name\temail\taddress_id\tactive\tcreate_date\tlast_update\n1\t1\tMARY\tSMITH\tMARY.SMITH@sakilacustomer.org\t5\t1\t2006-02-14 22:04:36\t2006-02-15 04:57:20\n2\t1\tPATRICIA\tJOHNSON\tPATRICIA.JOHNSON@sakilacustomer.org\t6\t1\t2006-02-14 22:04:36\t2006-02-15 04:57:20\n3\t1\tLINDA\tWILLIAMS\tLINDA.WILLIAMS@sakilacustomer.org\t7\t1\t2006-02-14 22:04:36\t2006-02-15 04:57:20\n*/\n\n\nCREATE TABLE film (\n\tfilm_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\ttitle VARCHAR(128) NOT NULL, \n\tdescription TEXT, \n\trelease_year YEAR, \n\tlanguage_id TINYINT UNSIGNED NOT NULL, \n\toriginal_language_id TINYINT UNSIGNED, \n\trental_duration TINYINT UNSIGNED NOT NULL DEFAULT '3', \n\trental_rate DECIMAL(4, 2) NOT NULL DEFAULT '4.99', \n\tlength SMALLINT UNSIGNED, \n\treplacement_cost DECIMAL(5, 2) NOT NULL DEFAULT '19.99', \n\trating ENUM('G','PG','PG-13','R','NC-17') DEFAULT 'G', \n\tspecial_features SET('Trailers','Commentaries','Deleted Scenes','Behind the Scenes'), \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (film_id), \n\tCONSTRAINT fk_film_language FOREIGN KEY(language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_film_language_original FOREIGN KEY(original_language_id) REFERENCES language (language_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from film table:\nfilm_id\ttitle\tdescription\trelease_year\tlanguage_id\toriginal_language_id\trental_duration\trental_rate\tlength\treplacement_cost\trating\tspecial_features\tlast_update\n1\tACADEMY DINOSAUR\tA Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies\t2006\t1\tNone\t6\t0.99\t86\t20.99\tPG\t{'Behind the Scenes', 'Deleted Scenes'}\t2006-02-15 05:03:42\n2\tACE GOLDFINGER\tA Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China\t2006\t1\tNone\t3\t4.99\t48\t12.99\tG\t{'Trailers', 'Deleted Scenes'}\t2006-02-15 05:03:42\n3\tADAPTATION HOLES\tA Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory\t2006\t1\tNone\t7\t2.99\t50\t18.99\tNC-17\t{'Trailers', 'Deleted Scenes'}\t2006-02-15 05:03:42\n*/\n\n\nCREATE TABLE film_actor (\n\tactor_id SMALLINT UNSIGNED NOT NULL, \n\tfilm_id SMALLINT UNSIGNED NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (actor_id, film_id), \n\tCONSTRAINT fk_film_actor_actor FOREIGN KEY(actor_id) REFERENCES actor (actor_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_film_actor_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from film_actor table:\nactor_id\tfilm_id\tlast_update\n1\t1\t2006-02-15 05:05:03\n1\t23\t2006-02-15 05:05:03\n1\t25\t2006-02-15 05:05:03\n*/\n\n\nCREATE TABLE film_category (\n\tfilm_id SMALLINT UNSIGNED NOT NULL, \n\tcategory_id TINYINT UNSIGNED NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (film_id, category_id), \n\tCONSTRAINT fk_film_category_category FOREIGN KEY(category_id) REFERENCES category (category_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_film_category_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from film_category table:\nfilm_id\tcategory_id\tlast_update\n1\t6\t2006-02-15 05:07:09\n2\t11\t2006-02-15 05:07:09\n3\t6\t2006-02-15 05:07:09\n*/\n\n\nCREATE TABLE film_text (\n\tfilm_id SMALLINT UNSIGNED NOT NULL, \n\ttitle VARCHAR(255) NOT NULL, \n\tdescription TEXT, \n\tPRIMARY KEY (film_id)\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from film_text table:\nfilm_id\ttitle\tdescription\n1\tACADEMY DINOSAUR\tA Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies\n2\tACE GOLDFINGER\tA Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China\n3\tADAPTATION HOLES\tA Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory\n*/\n\n\nCREATE TABLE inventory (\n\tinventory_id MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tfilm_id SMALLINT UNSIGNED NOT NULL, \n\tstore_id TINYINT UNSIGNED NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (inventory_id), \n\tCONSTRAINT fk_inventory_film FOREIGN KEY(film_id) REFERENCES film (film_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_inventory_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from inventory table:\ninventory_id\tfilm_id\tstore_id\tlast_update\n1\t1\t1\t2006-02-15 05:09:17\n2\t1\t1\t2006-02-15 05:09:17\n3\t1\t1\t2006-02-15 05:09:17\n*/\n\n\nCREATE TABLE language (\n\tlanguage_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tname CHAR(20) NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (language_id)\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from language table:\nlanguage_id\tname\tlast_update\n1\tEnglish\t2006-02-15 05:02:19\n2\tItalian\t2006-02-15 05:02:19\n3\tJapanese\t2006-02-15 05:02:19\n*/\n\n\nCREATE TABLE payment (\n\tpayment_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tcustomer_id SMALLINT UNSIGNED NOT NULL, \n\tstaff_id TINYINT UNSIGNED NOT NULL, \n\trental_id INTEGER, \n\tamount DECIMAL(5, 2) NOT NULL, \n\tpayment_date DATETIME NOT NULL, \n\tlast_update TIMESTAMP NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (payment_id), \n\tCONSTRAINT fk_payment_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_payment_rental FOREIGN KEY(rental_id) REFERENCES rental (rental_id) ON DELETE SET NULL ON UPDATE CASCADE, \n\tCONSTRAINT fk_payment_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from payment table:\npayment_id\tcustomer_id\tstaff_id\trental_id\tamount\tpayment_date\tlast_update\n1\t1\t1\t76\t2.99\t2005-05-25 11:30:37\t2006-02-15 22:12:30\n2\t1\t1\t573\t0.99\t2005-05-28 10:35:23\t2006-02-15 22:12:30\n3\t1\t1\t1185\t5.99\t2005-06-15 00:54:12\t2006-02-15 22:12:30\n*/\n\n\nCREATE TABLE rental (\n\trental_id INTEGER NOT NULL AUTO_INCREMENT, \n\trental_date DATETIME NOT NULL, \n\tinventory_id MEDIUMINT UNSIGNED NOT NULL, \n\tcustomer_id SMALLINT UNSIGNED NOT NULL, \n\treturn_date DATETIME, \n\tstaff_id TINYINT UNSIGNED NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (rental_id), \n\tCONSTRAINT fk_rental_customer FOREIGN KEY(customer_id) REFERENCES customer (customer_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_rental_inventory FOREIGN KEY(inventory_id) REFERENCES inventory (inventory_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_rental_staff FOREIGN KEY(staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from rental table:\nrental_id\trental_date\tinventory_id\tcustomer_id\treturn_date\tstaff_id\tlast_update\n1\t2005-05-24 22:53:30\t367\t130\t2005-05-26 22:04:30\t1\t2006-02-15 21:30:53\n2\t2005-05-24 22:54:33\t1525\t459\t2005-05-28 19:40:33\t1\t2006-02-15 21:30:53\n3\t2005-05-24 23:03:39\t1711\t408\t2005-06-01 22:12:39\t1\t2006-02-15 21:30:53\n*/\n\n\nCREATE TABLE staff (\n\tstaff_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tfirst_name VARCHAR(45) NOT NULL, \n\tlast_name VARCHAR(45) NOT NULL, \n\taddress_id SMALLINT UNSIGNED NOT NULL, \n\tpicture BLOB, \n\temail VARCHAR(50), \n\tstore_id TINYINT UNSIGNED NOT NULL, \n\tactive TINYINT(1) NOT NULL DEFAULT '1', \n\tusername VARCHAR(16) NOT NULL, \n\tpassword VARCHAR(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (staff_id), \n\tCONSTRAINT fk_staff_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_staff_store FOREIGN KEY(store_id) REFERENCES store (store_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from staff table:\nstaff_id\tfirst_name\tlast_name\taddress_id\tpicture\temail\tstore_id\tactive\tusername\tpassword\tlast_update\n1\tMike\tHillyer\t3\tb'\\x89PNG\\r\\n\\x1a\\n\\x00\\x00\\x00\\rIHDR\\x00\\x00\\x00y\\x00\\x00\\x00u\\x08\\x02\\x00\\x00\\x00\\xe5Z\\xd9e\\x00\\x0\tMike.Hillyer@sakilastaff.com\t1\t1\tMike\t8cb2237d0679ca88db6464eac60da96345513964\t2006-02-15 03:57:16\n2\tJon\tStephens\t4\tNone\tJon.Stephens@sakilastaff.com\t2\t1\tJon\tNone\t2006-02-15 03:57:16\n*/\n\n\nCREATE TABLE store (\n\tstore_id TINYINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\tmanager_staff_id TINYINT UNSIGNED NOT NULL, \n\taddress_id SMALLINT UNSIGNED NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (store_id), \n\tCONSTRAINT fk_store_address FOREIGN KEY(address_id) REFERENCES address (address_id) ON DELETE RESTRICT ON UPDATE CASCADE, \n\tCONSTRAINT fk_store_staff FOREIGN KEY(manager_staff_id) REFERENCES staff (staff_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from store table:\nstore_id\tmanager_staff_id\taddress_id\tlast_update\n1\t1\t1\t2006-02-15 04:57:12\n2\t2\t2\t2006-02-15 04:57:12\n*/"

In [15]:
# Initialize Groq LLM
llm = ChatGroq(api_key=os.getenv("GROQ_API_KEY"), model="meta-llama/llama-4-scout-17b-16e-instruct")

In [16]:
from langchain import hub

# Pull the query prompt template from the LangChain hub
query_prompt_template = hub.pull("langchain-ai/sql-query-system-prompt")

In [17]:
query_prompt_template

ChatPromptTemplate(input_variables=['dialect', 'input', 'table_info', 'top_k'], input_types={}, partial_variables={}, metadata={'lc_hub_owner': 'langchain-ai', 'lc_hub_repo': 'sql-query-system-prompt', 'lc_hub_commit_hash': '360a0e9d0f0f5da0ee9810a2a0ea3c9dc3de31b3ae9d50272420c33e48e6e323'}, messages=[SystemMessagePromptTemplate(prompt=PromptTemplate(input_variables=['dialect', 'table_info', 'top_k'], input_types={}, partial_variables={}, template='Given an input question, create a syntactically correct {dialect} query to run to help find the answer. Unless the user specifies in his question a specific number of examples they wish to obtain, always limit your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.\n\nNever query for all the columns from a specific table, only ask for a the few relevant columns given the question.\n\nPay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\n\nOnly use the following tables:\n{table_info}'), additional_kwargs={}), HumanMessagePromptTemplate(prompt=PromptTemplate(input_variables=['input'], input_types={}, partial_variables={}, template='Question: {input}'), additional_kwargs={})])

In [18]:
class QueryRequest(BaseModel):
    question: str

In [19]:
from typing_extensions import TypedDict

# Define a TypedDict for the query output
class QueryOutput(TypedDict):
    """Generated SQL query."""
    query: Annotated[str, ..., "Syntactically valid SQL query."]

In [20]:
# 游 Table extraction logic
def extract_relevant_tables(user_input: str, all_tables: list[str]) -> list[str]:
    user_input_lower = user_input.lower() 
    return [table for table in all_tables if table.lower() in user_input_lower]

In [21]:
# 游 Query validation
def validate_query(query: str):
    disallowed = ["drop", "delete", "truncate", "alter", "update"]
    if any(danger in query.lower() for danger in disallowed):
        raise HTTPException(status_code=400, detail="Unsafe SQL query detected!")

In [22]:
user_input ="fetch me phone number and address of the id who resides in the Mandalay district"

In [23]:
all_tables = db.get_usable_table_names()
relevant_tables = extract_relevant_tables(user_input, all_tables)

In [24]:
relevant_tables

['address']

In [25]:
db.get_table_info(table_names=relevant_tables)

'\nCREATE TABLE address (\n\taddress_id SMALLINT UNSIGNED NOT NULL AUTO_INCREMENT, \n\taddress VARCHAR(50) NOT NULL, \n\taddress2 VARCHAR(50), \n\tdistrict VARCHAR(20) NOT NULL, \n\tcity_id SMALLINT UNSIGNED NOT NULL, \n\tpostal_code VARCHAR(10), \n\tphone VARCHAR(20) NOT NULL, \n\tlast_update TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, \n\tPRIMARY KEY (address_id), \n\tCONSTRAINT fk_address_city FOREIGN KEY(city_id) REFERENCES city (city_id) ON DELETE RESTRICT ON UPDATE CASCADE\n)COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB DEFAULT CHARSET=utf8mb4\n\n/*\n3 rows from address table:\naddress_id\taddress\taddress2\tdistrict\tcity_id\tpostal_code\tphone\tlast_update\n1\t47 MySakila Drive\tNone\tAlberta\t300\t\t\t2014-09-25 22:30:27\n2\t28 MySQL Boulevard\tNone\tQLD\t576\t\t\t2014-09-25 22:30:09\n3\t23 Workhaven Lane\tNone\tAlberta\t300\t\t14033335568\t2014-09-25 22:30:27\n*/'

In [26]:
def generate_sql_query(question: str) -> dict:
    all_tables = db.get_usable_table_names()
    relevant_tables = extract_relevant_tables(question, all_tables)
    table_info = db.get_table_info(table_names=relevant_tables) if relevant_tables else db.get_table_info()

    prompt = query_prompt_template.invoke({
        "dialect": db.dialect,
        "top_k": 10,
        "table_info": table_info,
        "input": question,
    })
    structured_llm = llm.with_structured_output(QueryOutput)
    
    result = structured_llm.invoke(prompt)

    query = result["query"]
    validate_query(query)
    return {"query": query}

In [27]:
def execute_sql_query(query: str) -> dict:
    """Execute the provided SQL query."""
    validate_query(query)

    tool = QuerySQLDatabaseTool(db=db) 
    execute_query_tool = QuerySQLDatabaseTool(db=db)
    return {"result": execute_query_tool.invoke(query)}

In [28]:
# Generate the SQL query
generated_query = generate_sql_query("fetch me phone number and address who resides in the Mandalay district")

In [29]:
generated_query

{'query': "SELECT phone, address FROM address WHERE district = 'Mandalay' LIMIT 10"}

In [30]:
# Execute the generated SQL query
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

{'result': "[('705814003527', '1566 Ineg칬l Manor')]"}

In [31]:
final_result

{'result': "[('705814003527', '1566 Ineg칬l Manor')]"}

In [32]:
# Generate the SQL query
generated_query = generate_sql_query("Which actor has appeared in the highest-grossing films (based on total rental revenue), and what is the average rental duration for films they appeared in?")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

{'query': 'SELECT T1.first_name ,  T1.last_name ,  SUM(T3.rental_rate * T3.rental_duration) ,  AVG(T3.rental_duration) FROM actor AS T1 INNER JOIN film_actor AS T2 ON T1.actor_id = T2.actor_id INNER JOIN film AS T3 ON T2.film_id = T3.film_id GROUP BY T1.first_name ,  T1.last_name ORDER BY SUM(T3.rental_rate * T3.rental_duration) DESC LIMIT 1'}
{'result': "[('SUSAN', 'DAVIS', Decimal('723.58'), Decimal('4.4815'))]"}

In [34]:
# # Generate the SQL query
# generated_query = generate_sql_query("Identify the top 3 cities with the highest average rental revenue per customer over the last year of available rental data. For each of these cities, provide the total number of customers, total revenue, and the top 2 film categories (based on rental frequency) preferred by customers from those cities. Also, indicate the average number of rentals per customer in those cities.")

# # Execute the generated SQL query
# print(generated_query)
# final_result = execute_sql_query(generated_query["query"])

# # Print the final result
# print(final_result)

In [ ]:
# Generate the SQL query
generated_query = generate_sql_query("Which country has the highest average customer lifetime value (total payments divided by rental count per customer), and what are the top 3 cities in that country by total revenue?")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

BadRequestError: Error code: 400 - {'error': {'message': "Failed to call a function. Please adjust your prompt. See 'failed_generation' for more details.", 'type': 'invalid_request_error', 'code': 'tool_use_failed', 'failed_generation': ' \n  SELECT \n    c.country, \n    AVG(p.total_payments / r.rental_count) AS avg_lifetime_value\n  FROM \n    country c\n  JOIN \n    customer cu ON c.country_id = cu.customer_id\n  JOIN \n    (\n      SELECT \n        customer_id, \n        SUM(amount) AS total_payments\n      FROM \n        payment\n      GROUP BY \n        customer_id\n    ) p ON cu.customer_id = p.customer_id\n  JOIN \n    (\n      SELECT \n        customer_id, \n        COUNT(rental_id) AS rental_count\n      FROM \n        rental\n      GROUP BY \n        customer_id\n    ) r ON cu.customer_id = r.customer_id\n  GROUP BY \n    c.country\n  ORDER BY \n    avg_lifetime_value DESC\n  LIMIT 1;\n</function>\n\n<function=QueryOutput> \n  SELECT \n    a.city, \n    SUM(p.amount) AS total_revenue\n  FROM \n    address a\n  JOIN \n    customer cu ON a.address_id = cu.address_id\n  JOIN \n    payment p ON cu.customer_id = p.customer_id\n  WHERE \n    cu.country_id = (\n      SELECT \n        c.country_id\n      FROM \n        country c\n      JOIN \n        customer cu ON c.country_id = cu.customer_id\n      JOIN \n        (\n          SELECT \n            customer_id, \n            SUM(amount) AS total_payments\n          FROM \n            payment\n          GROUP BY \n            customer_id\n        ) p ON cu.customer_id = p.customer_id\n      JOIN \n        (\n          SELECT \n            customer_id, \n            COUNT(rental_id) AS rental_count\n          FROM \n            rental\n          GROUP BY \n            customer_id\n        ) r ON cu.customer_id = r.customer_id\n      GROUP BY \n        c.country\n      ORDER BY \n        AVG(p.total_payments / r.rental_count) DESC\n      LIMIT 1\n    )\n  GROUP BY \n    a.city\n  ORDER BY \n    total_revenue DESC\n  LIMIT 3;\n</function>'}}

In [35]:
# Generate the SQL query
generated_query = generate_sql_query("fetch me release year,length,rating, language of this movie ARABIA DOGMA ")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result 
print(final_result)

{'query': "SELECT release_year, length, rating, language FROM film WHERE title = 'ARABIA DOGMA' LIMIT 10"}
{'result': 'Error: (pymysql.err.OperationalError) (1054, "Unknown column \'language\' in \'field list\'")\n[SQL: SELECT release_year, length, rating, language FROM film WHERE title = \'ARABIA DOGMA\' LIMIT 10]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'}

In [36]:
# Generate the SQL query
generated_query = generate_sql_query("fetch me count movies released in 2006 with NC-17 rating ")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

{'query': "SELECT COUNT(film_id) FROM film WHERE release_year = 2006 AND rating = 'NC-17'"}
{'result': '[(210,)]'}

In [37]:
# Generate the SQL query
generated_query = generate_sql_query("Which staff member has processed the most payments, and what is the total amount they have handled?")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

{'query': 'SELECT s.first_name, s.last_name, COUNT(p.payment_id) as total_payments, SUM(p.amount) as total_amount FROM payment p JOIN staff s ON p.staff_id = s.staff_id GROUP BY s.staff_id ORDER BY total_payments DESC LIMIT 1'}
{'result': "[('Mike', 'Hillyer', 8054, Decimal('33482.50'))]"}

In [38]:
# Generate the SQL query
generated_query = generate_sql_query("What is the total revenue generated by each store location from film rentals?")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

{'query': 'SELECT s.store_id, SUM(f.rental_rate) AS total_revenue FROM film f JOIN inventory i ON f.film_id = i.film_id JOIN rental r ON i.inventory_id = r.inventory_id JOIN store s ON i.store_id = s.store_id GROUP BY s.store_id LIMIT 10'}
{'result': "[(1, Decimal('23509.77')), (2, Decimal('23701.79'))]"}

In [39]:
# Generate the SQL query
generated_query = generate_sql_query("List all stores with their staff counts. Which store has the most staff?")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

{'query': 'SELECT s.store_id, COUNT(st.staff_id) as staff_count FROM store s JOIN staff st ON s.store_id = st.store_id GROUP BY s.store_id ORDER BY staff_count DESC LIMIT 10;'}
{'result': '[(1, 1), (2, 1)]'}

In [40]:
# Generate the SQL query
generated_query = generate_sql_query("List all films that have never been rented, including their descriptions and categories.")

# Execute the generated SQL query
print(generated_query)
final_result = execute_sql_query(generated_query["query"])

# Print the final result
print(final_result)

{'query': 'SELECT f.description, f.title, l.name AS category FROM film f JOIN language l ON f.language_id = l.language_id WHERE f.film_id NOT IN (SELECT film_id FROM rental) LIMIT 10'}
{'result': ''}